*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 80%;
   
    padding: 34px;
    margin: auto;
}

.container h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
p{
    font-size: 17px;
    text-align: center;
}

input, textarea{
   
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 17px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 6px;
    outline: none;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;



}

.back-img{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}